<main class="main background">
  <aside class="sidebar">
    <form class="searcher" action="/signup" method="get">
      <input
        class="js_searcher searcherGen"
        placeholder="Buscar serie"
        id="Buscar"
        type="text"
      />
      <input type="submit" value="Buscar" class="js_btn_search btnSearch" />

      <button class="js_btn_reset btnReset">Reset</button>
    </form>

    <section class="favouriteSection">
      <h2 class="title title--highlight">Mis favoritas</h2>
      <ul class="js_favouritesUl anime__list"></ul>
    </section>
  </aside>

  <section class="listingSection">
    <h2 class="title title--accented">Listado de todas las series</h2>
    <ul id="animeUl" class="js_animeUl"></ul>
    <ul class="js_anime_listUl anime__list"></ul>
  </section>
</main>
